{% extends "base.html.twig" %}

{% block title %} Home Page {% endblock title %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'Home Page'}) }}


<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

   
</div>
{% endblock %}
