<h1>Bonjour! veuillez confirmer votre adresse électronique!</h1>

<p>
    Afin de confirmer votre adresse cliquez sur ce boutton: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse électronique </a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>
